extends layout
block content
 h1= title
 form(id='CameraForm', action="/resource/camera", method="POST")
  div.form-group
    label.cameraAttr(for='cName') Camera Name
    input#cName(type='text', name='cName')
  div.form-group
    label.cameraAttr(for='size') Camera Pixels
    input#cPixels(type='text', name='cPixels')
  div.form-group
    label.cameraAttr(for='cost') Camera cost
    input#cCost(type='number', name='cCost')
  input(type="submit")
 script.
  document.forms['CameraForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.text(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
   });
  });
